{% extends "base.html" %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Добро пожаловать, {{ user.username }}!</h1>

        <a href="{% url 'logout' %}">Выйти</a>
        <a href="{% url 'checklist' %}">Пройти чек-лист</a>

        <h2>Ваши покупки</h2>
        <table>
            <tr>
                <th>Товар</th>
                {% comment %} <th>Дата запроса</th> {% endcomment %}
                <th>Дата последнего запроса</th>
                <th>Время с последнего запроса</th>
                <!-- <th>Разница во времени с последним запросом</th> -->
                <th>Ответ по чек-листу</th>
            </tr>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.item }}</td>
                    {% comment %} <td>{{ purchase.date_added }}</td> {% endcomment %}
                    <td>{{ purchase.last_purchase_date }}</td>
                    <!-- <td>{{ purchase.time_since_last_purchase }}</td> -->
                    <td>{{ purchase.time_diff }}</td>
                    <td>{{ purchase.result }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Чек-лист</h2>
        <form id="checklistForm" method="post">
            {% csrf_token %}
            <label for="item">Что вы собираетесь купить?</label>
            <input type="text" id="item" name="item" required oninvalid="this.setCustomValidity('Пожалуйста, введите название покупки.')" oninput="this.setCustomValidity('')">
            <div id="questions"></div>
            <button id="button_checklistForm" type="submit">Проверить</button>
        </form>
    
        <script src="{% static 'js/checklist.js' %}"></script>
    {% else %}
        <p>Пожалуйста, войдите в систему или зарегистрируйтесь.</p>
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    {% endif %}
{% endblock %}